body {
    text-align: center;
    font-family: Arial;
    background-color: #1e5631;
    color: white;
}

button {
    padding: 10px;
    background: orange;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

img {
    margin-top: 20px;
}